.navbar-brand {
  font-size: 22px;
  font-weight: bold;
}
.navbar {
  margin-bottom: 0 !important;
  background: rgba(21, 31, 50, 1) !important;
  padding: 10px 0 !important;
}
.navbar-brand {
  color : $primary_color !important;
}
.navbar-nav {
  a {
    font-size: 16px !important;
  }
  a:hover {
    color: $primary_color !important;
  }
}
.thumbnail {
  display: block;
  margin-bottom: 30px !important;
  line-height: 1.42857143;
  padding: 0 !important;
  background-color: transparent !important;
  color : $primary_color !important;
  text-align: left;
  border: 0 !important;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  overflow: hidden;
  .thumbnail-img {
    border-radius: 5px !important;
    overflow: hidden;
  }
}
.caption {
  padding: 10px 0 !important;
  color: white !important;
  font-weight: 600;
  transition:  all .2s ease;
  &:hover {
    color : $primary_color !important;
    transition:  all .2s ease;
  }
}
.sections {
  display: flex;
  align-items: center;
  column-gap: 25px;
  margin: 25px 0;
  margin-bottom: 15px;
}
.sections-name {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}
