.movie-container {
  margin-top: 50px;
}

.thanh1 {
  padding: 20px;
}

.form-button {
  background-color: rgb(244, 203, 98);
  border: 0ch;
}

.thanh1 {
  float: right;
  padding-top: 0px;
}

.thanh1 h1 {
  border-style: double;
  width: 350px;
  height: 200px;
}

.thanh1 h1 p input {
  border: 0ch;
  width: 300px;
  height: 50px;
  background-color: rgb(196, 193, 190);
}

.thanh1 h1 input {
  border: 0ch;
  width: 300px;
  height: 50px;
  background-color: rgb(255, 119, 0);
}

.thanh2 {
  padding-right: 260px;
  float: right;
  padding-top: 4%;
}
.thanh3 {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  
}
.form-group {
  color : #222;
  select, input {
    width: 300px;
    height: 40px;
    border-color: none;
  }
}

.thanh5 {
  float: right;
  height: 30px;
}

.thanh5 input {
  height: 37px;
}

.thanh4 input {
  height: 35px;
}

.form-group input {
  margin-left: 15px;
}

.thanh5 {
  margin-left: 2000px;
  padding-right: 150px;
}

.form-buton {
  background-color: rgb(255, 119, 0);
  border: 0ch;
  width: 200px;
  height: 50px;
  font-weight: 200;
  text-align: left;
}
.times-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  .theader-name {
    font-size: 18px;
    color : #fff;
    background-color: $secondary_color;
    padding: 7px 20px;
  }
  .times {
    width: 100%;
    background-color: #151F32;
    border: 1px solid #ced0da;
    padding: 35px 20px 25px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    border-radius:  0 10px 10px 10px;
    .times-content {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 15px;
      a {
        border: 1px solid #ced0da;
        padding: 5px 10px;
        transition: all .2s ease;
        cursor: pointer;
        color: #fff;
        &:hover {
          border: 1px solid $secondary_color;
          color : $secondary_color;
          transition: all .2s ease;
        }
      }
    }
  }
}
