.seat-container{
  width: 40%;
  min-height: 720px;
  border: 2px solid black;
  margin-top: 50px;
  text-align: center;
  padding-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color:#C4DFE6;
  display: flexbox;
  flex-wrap: wrap;
}

.seat-container .alphabet{
  width: 25px;
  height: 25px;
  border: 1px solid #FB6542;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  background-color: #FB6542;
}
.seat-container .line {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  padding: 10px;
}
.linenumber {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.seat-container .linenumber>button{
  border:1px solid #FB6542;
}
.seat-container .linenumber>button:hover{
  background-color:greenyellow;
  
}
.seat-container hr{
  width: 50%;
  height: 10px;
  background-color: black;
}
.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}
.note {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 13px;
  p {
    margin: 0 !important;
  }
  .box-color {
    width: 15px;
    height: 15px;
    border: 1px solid black;  
  }
  
}
button {
  background: rgb(248, 241, 241);
}
button.active {
  background-color: greenyellow;
}
button.has_sold {
  background-color: red;
}

.note1 .box-color {
  background-color: greenyellow;
}
.note2 .box-color {
  background-color: red;
}
.note3 .box-color {
  background-color: rgb(248, 241, 241);
}
.note4 .box-color {
  background-color: rgb(62, 62, 250);
}
.seat-container button {
  color : #333;
  cursor: pointer;
  font-weight: 500;
}

@media (min-width:320px) and (max-width:1024px){
  .seat-container{
    width: 230px;
    padding-right: 10%;
  }
  .seat-container p{
    margin-left: -3px;
  }
  .seat-container .manhinh{
     margin-left: 65px;
  }
  .seat-container hr{
      margin-left: 85px;
  }
  .seat-container .note{
      margin-left: -30px;
      
  }
  .seat-container .note>p{
      padding-left: 12px;
  }
  .seat-container .note1{
      margin-left: -200px;
      margin-top:30px ;
  }
  
  .seat-container .note2{
      margin-left: -350px;
      margin-top:60px ;
  }
  .seat-container .note2>p{
      padding-left: 4px;
  }
  .seat-container .note3{
      margin-left: -510px;
      margin-top:90px ;
  }
  .seat-container .note3>p{
      padding-left: 20px;
  }
}
.seat-container h2{
  margin-left: 50px;
}
@media (min-width:1024px) and (max-width:1800px) {
  .seat-container{
          width: 720px;
  }
  
}
