.heading-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
  a.btn {
    padding: 5px 10px;
    background-color: orangered;
    color : #fff;
  }
}
.form-user {
  .heading {
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 0px;
    display: inline-block;
  }
  .change_pass {
    display: none;
  }
  .changePass {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .changePass:checked ~.change_pass {
    display: block;
  }
  display: flex;
  align-items: flex-start;
  column-gap: 100px;
  .form-col {
    min-width: 500px;
    position: relative;
  }
  .form-group-container {
    display: flex;
    align-items: center;
    column-gap: 25px;
    width: 100%;
  }
  .form-group {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    width: 100%;
    label {
      font-size: 18px;
      color : #555;
    }
    input {
      width: 100%;
      border: #bbb 1px solid;
      border-radius: 5px;
      margin-left: 0;
      padding-inline: 10px;
      &:focus {
        outline: none;
        border: $primary_color 1px solid;
      }
      &:disabled {
        color : gray;
      }
    }
  }
  .btn {
    color : #fff;
    background-color: $secondary_color;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 18px;
    &:hover {
      color : #fff;
    }
  }
}
.user-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 40px;
  &-item { 
    list-style-type: none;
  }
  &-link {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color : $primary_color;
    &:hover {
      color : $primary_color;
    }
  }
}
.error {
  color : orangered;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin: 10px 0;
}
tbody tr {
  max-height: 200px;
  overflow: hidden;
}
thead tr th {
  background: #ddd;
  padding: 5px;
  min-width: 80px;
  text-align: center !important;
}
tbody tr td {
  padding: 5px;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 80px;
}
tbody tr td{
  border: 1px solid #333;
  border-top: 0;
  border-right: 0;
}
tbody {
  margin: 0 auto;
}
th {
  text-transform: capitalize;
}
.td-btn button {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
tbody tr td {
  margin: 0 auto;
  text-align: center;
  margin-bottom : auto;
}
tbody tr td:last-child {
  border-right: 1px solid #333;
}
.table td:nth-child(2) {
  overflow: hidden;
  //white-space: nowrap;
  text-overflow: ellipsis;
}