body {
  background-image: linear-gradient(170deg, rgb(15, 22, 36), rgb(5, 7, 11)) !important;
  color: #fff !important;
  font-family: "Poppins", sans-serif !important;
  height: auto !important;
}

html {
  height: auto !important;
}

a {
  text-decoration: unset !important;
}

.navbar-brand {
  font-size: 22px;
  font-weight: bold;
}

.navbar {
  margin-bottom: 0 !important;
  background: rgb(21, 31, 50) !important;
  padding: 10px 0 !important;
}

.navbar-brand {
  color: rgb(50, 138, 241) !important;
}

.navbar-nav a {
  font-size: 16px !important;
}
.navbar-nav a:hover {
  color: rgb(50, 138, 241) !important;
}

.thumbnail {
  display: block;
  margin-bottom: 30px !important;
  line-height: 1.42857143;
  padding: 0 !important;
  background-color: transparent !important;
  color: rgb(50, 138, 241) !important;
  text-align: left;
  border: 0 !important;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  overflow: hidden;
  position: relative;
}
.thumbnail .thumbnail-img {
  border-radius: 5px !important;
  overflow: hidden;
}
.thumbnail:hover .caption {
  color: rgb(50, 138, 241) !important;
  transition: all 0.2s ease;
}

.caption {
  padding-top: 10px !important;
  color: white !important;
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.sections {
  display: flex;
  align-items: center;
  column-gap: 25px;
  margin: 25px 0;
  margin-bottom: 15px;
}

.sections-name {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.movie-img {
  width: 274px;
  height: 402px;
}

.movie-label {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F56857;
  background: rgba(50, 138, 241, 0.2);
  border-radius: 5px;
}

.video-container {
  width: 100vw;
  height: 100vh;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 118vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 76.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}
.myVideo {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.movie-info {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 100px;
  text-align: left;
  display: flex;
  justify-content: start;
  flex-direction: column;
  max-width: 500px;
}
.movie-info h1 {
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
}
.movie-info p {
  font-weight: 500;
  color: #bbb;
}
.movie-info .movie-info-action {
  width: 40%;
  color: #F56857;
  border: 1px solid #F56857;
  margin-top: 25px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 10px 0;
  background-color: transparent;
  transition: all 0.3s ease;
  font-weight: 500;
}
.movie-info .movie-info-action:hover {
  background-color: #F56857;
  color: #fff;
  transition: all 0.3s ease;
}

.seat-container {
  width: 40%;
  min-height: 720px;
  border: 2px solid black;
  margin-top: 50px;
  text-align: center;
  padding-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #C4DFE6;
  display: flexbox;
  flex-wrap: wrap;
}

.seat-container .alphabet {
  width: 25px;
  height: 25px;
  border: 1px solid #FB6542;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  background-color: #FB6542;
}

.seat-container .line {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  padding: 10px;
}

.linenumber {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.seat-container .linenumber > button {
  border: 1px solid #FB6542;
}

.seat-container .linenumber > button:hover {
  background-color: greenyellow;
}

.seat-container hr {
  width: 50%;
  height: 10px;
  background-color: black;
}

.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.note {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 13px;
}
.note p {
  margin: 0 !important;
}
.note .box-color {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

button {
  background: rgb(248, 241, 241);
}

button.active {
  background-color: greenyellow;
}

button.has_sold {
  background-color: red;
}

.note1 .box-color {
  background-color: greenyellow;
}

.note2 .box-color {
  background-color: red;
}

.note3 .box-color {
  background-color: rgb(248, 241, 241);
}

.note4 .box-color {
  background-color: rgb(62, 62, 250);
}

.seat-container button {
  color: #333;
  cursor: pointer;
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .seat-container {
    width: 230px;
    padding-right: 10%;
  }
  .seat-container p {
    margin-left: -3px;
  }
  .seat-container .manhinh {
    margin-left: 65px;
  }
  .seat-container hr {
    margin-left: 85px;
  }
  .seat-container .note {
    margin-left: -30px;
  }
  .seat-container .note > p {
    padding-left: 12px;
  }
  .seat-container .note1 {
    margin-left: -200px;
    margin-top: 30px;
  }
  .seat-container .note2 {
    margin-left: -350px;
    margin-top: 60px;
  }
  .seat-container .note2 > p {
    padding-left: 4px;
  }
  .seat-container .note3 {
    margin-left: -510px;
    margin-top: 90px;
  }
  .seat-container .note3 > p {
    padding-left: 20px;
  }
}
.seat-container h2 {
  margin-left: 50px;
}

@media (min-width: 1024px) and (max-width: 1800px) {
  .seat-container {
    width: 720px;
  }
}
.movie-container {
  margin-top: 50px;
}

.thanh1 {
  padding: 20px;
}

.form-button {
  background-color: rgb(244, 203, 98);
  border: 0ch;
}

.thanh1 {
  float: right;
  padding-top: 0px;
}

.thanh1 h1 {
  border-style: double;
  width: 350px;
  height: 200px;
}

.thanh1 h1 p input {
  border: 0ch;
  width: 300px;
  height: 50px;
  background-color: rgb(196, 193, 190);
}

.thanh1 h1 input {
  border: 0ch;
  width: 300px;
  height: 50px;
  background-color: rgb(255, 119, 0);
}

.thanh2 {
  padding-right: 260px;
  float: right;
  padding-top: 4%;
}

.thanh3 {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}

.form-group {
  color: #222;
}
.form-group select, .form-group input {
  width: 300px;
  height: 40px;
  border-color: none;
}

.thanh5 {
  float: right;
  height: 30px;
}

.thanh5 input {
  height: 37px;
}

.thanh4 input {
  height: 35px;
}

.form-group input {
  margin-left: 15px;
}

.thanh5 {
  margin-left: 2000px;
  padding-right: 150px;
}

.form-buton {
  background-color: rgb(255, 119, 0);
  border: 0ch;
  width: 200px;
  height: 50px;
  font-weight: 200;
  text-align: left;
}

.thanh6 p {
  border: groove;
  margin-top: -1px;
  width: 750px;
  height: 100px;
  text-align: left;
  padding: 20px;
}

.thanh6 input {
  text-align: 50px;
  width: 70px;
  height: 30px;
  background-color: 0px;
}
